@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

/* Dark: #0B0C10, LessDark: #1F2833, Bright: #66FCF1, Less Briht: #45A29E*/

:root {
  --dark-color: #0b0c10;
  --less-dark-color: #1f2833;
  --bright-color: #66fcf1;
  --less-bright-color: #45a29e;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  background: var(--dark-color);

  color: #fff;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -75px;
  left: 0;
  z-index: -1;
  /* background-image: linear-gradient(to bottom right, #1f2833, #0b0c10); */
  opacity: 0.5;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: var(--less-bright-color);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--less-dark-color);
  opacity: 0.9;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--dark-color);
}

.logo {
  color: var(--bright-color);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1.4rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--less-bright-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--bright-color);
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.4rem 3rem;
}

.section-a {
  background-color: var(--less-dark-color);
  height: 75%;
}
.section-a h1 {
  padding: 0px;
  margin: 0px;
}

.section-b {
  background-color: var(--dark-color);
}

.txt-type {
  color: var(--bright-color);
  font-weight: bold;
  /* text-decoration: underline; */
}

/*---Cursor---*/
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media screen and (max-width: 1472px) {
  .txt-type {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 80vh;
    width: 50%;
    background-color: var(--less-dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .txt-type {
    color: var(--bright-color);
    display: block;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .txt-type {
    font-size: 1.9rem;
  }
}

/* SVG STUFF */

svg {
  margin-bottom: -20px;
  width: 100%;
}

.nav-active {
  transform: translateX(0%);
  display: flex;
}
/* @media (max-width: 400px) {
  body {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }
  
  .txt-type {
    color: #000;
    display: block;
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  h2 {
    font-size: 1rem;
  }
} */

/* Animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-180deg) translateY(-5px);
}
.toggle .line2 {
  transform: rotate(310deg);
}
.toggle .line3 {
  transform: rotate(180deg) translateY(5px);
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--less-bright-color);
}
